@charset "utf-8";
/* CSS Document */
html {
  font-size: 10px;
}
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
hr,
thead,
tbody,
tfoot,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: 'Microsoft YaHei', sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
select {
  border: 0;
  outline: none;
  -webkit-appearance: none;
}
a,
button,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  vertical-align: top;
}

body {
  margin: 0 auto;
  padding-bottom: 3.25rem;
  color: #333;
  max-width: 750px;
  font-size: 1.2rem;
}
header img {
  width: 100%;
}
.zjban .el-image {
  width: 100%;
  color: #fff;
}
.look {
  display: block;
  height: 2rem;
  margin: 2rem auto 0;
}

.title {
  font-size: 2rem;
  color: #279990;
  text-align: center;
  padding: 1.5rem 0 1rem;
}
.bd {
  padding: 0 1.5rem 3rem;
}

.form-a {
  display: inline-block;
  padding: 0 1.5rem;
  margin-right: 2rem;
  height: 3.25rem;
  line-height: 3.25rem;
  background: #f15067;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.bd .el-form-item .el-input {
  width: 100%;
}
.bd .el-select {
  display: block;
}
.bd .el-input {
  font-size: 1.2rem;
}
.bd .el-input__inner {
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 0;
  border: 1px solid #cacaca;
}
.bd .el-input__icon {
  line-height: 3.5rem;
  transition: none;
}
.bd .el-input.is-active .el-input__inner,
.bd .el-input__inner:focus {
  border-color: #279990;
}
.bd .el-button,
.submit-form,
.submit-back {
  padding: 1.15rem 0;
  width: 100%;
  background-color: #f39800;
  border-color: #f39800;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.3rem;
}
.submit-form-width,
.submit-back {
  width: 46%;
}
.submit-back {
  background-color: #279990;
}
.bd .el-form-item {
  margin-bottom: 0.75rem;
}
.bd-keshi {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.bd-p {
  display: flex;
  justify-content: space-between;
  color: #b8b8b8;
  font-size: 1rem;
  margin: 0.8rem 0;
}
.bd-p .bd-p-1 {
  color: #2f2f2f;
}
.bd-p .bd-p-1 img {
  margin: 0 1.1rem 0 0.6rem;
  height: 1.35rem;
  vertical-align: text-bottom;
}
.bd-p .bd-p-2 {
  margin-right: 0.35rem;
  height: 1rem;
  vertical-align: baseline;
}

.visit-date {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.visit-date::-webkit-scrollbar {
  width: 0 !important;
}
.visit-date li {
  box-sizing: border-box;
  border-radius: 0.5rem;
  margin-right: 1rem;
  width: 6rem;
  height: 4.75rem;
  padding: 0.9rem 0;
  display: inline-block;
  vertical-align: top;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 1.65rem;
  font-size: 1.1rem;
}
.visit-date .active {
  background: #279990;
  color: #fff;
}
.tips {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 2.5rem;
}
.tips strong {
  font-size: 1.1rem;
  color: #db3d43;
}
.allied {
  width: calc(100% - 2rem);
  margin: 0 1rem;
  padding-bottom: 1.75rem;
}

.el-calendar .el-calendar-table .el-calendar-day {
  height: 50px;
  position: relative;
}
.el-calendar .el-calendar-table td {
  background: #f7f7f7;
  color: #c0c4cc;
}
.el-calendar .el-calendar-table td.is-today .optional-date {
  color: #409eff;
  background-color: #f2f8fe;
}
.el-calendar-day .optional-date {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px 0 0 8px;
  box-sizing: border-box;
  background: #fff;
  color: #666;
}
.el-calendar-table:not(.is-range) td.next .optional-date,
.el-calendar-table:not(.is-range) td.prev .optional-date {
  color: #c0c4cc;
}
.el-calendar-day .optional-date p {
  color: #20b59a;
}
.optional-date.selected-day {
  border: solid 1px #20b59a;
  color: #20b59a;
}
.el-calendar-table td.is-today {
  background: none;
  color: #20b59a;
}
.el-dialog {
  min-width: 330px;
}
.el-dialog .el-dialog__body {
  padding: 0;
}

.sele-zj {
  display: none;
}
.el-carousel__container {
  height: 16.75rem;
}

.el-carousel__indicators--horizontal {
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 0.5;
}
.el-carousel__indicator--horizontal {
  padding: 5px 4px;
}
.el-carousel__button {
  width: 20px;
}

/* 总页面 */
.index header {
  position: relative;
}
.index header .qr {
  width: 4.5rem;
  position: absolute;
  right: 0.4rem;
  bottom: -3rem;
}
.index .title {
  font-size: 1.5rem;
  color: #333333;
}
.table {
  display: flex;
  margin: 0 1rem 1.75rem;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
}
.table .tr {
  display: flex;
  justify-content: center;
  height: 2rem;
  border-top: 1px solid #e8e8e8;
  font-size: 0.9rem;
}
.table .table-head {
  background: #38bea6;
  height: 3.5rem;
  align-self: center;
}
.table .tr.table-head .td {
  color: #fff;
}
.table .tr.table-head .td p {
  font-size: 0.8rem;
}
.table-left .tr {
  min-width: 5rem;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
}
.table-left .tr:first-child {
  height: 3.5rem;
}
.table-left {
  width: 20%;
}
.table-right {
  width: 80%;
}

.table .tr .td {
  width: 14.28%;
  padding: 0.2rem 0;
  flex: 1;
  border-right: solid 1px #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-sizing: border-box;
}
.table .td span {
  display: inline-block;
  font-size: 1rem;
  transform: scale(0.5);
  line-height: 0.5rem;
  white-space: nowrap;
  color: #333;
}

.bottom {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  padding-bottom: 0px;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #fff;
}
.bottom a {
  display: block;
  padding: 0.6rem 0;
  line-height: 1.6rem;
  border-bottom: 0;
  font-size: 1.3rem;
  background: #fff;
  color: #525252;
}
.bottom a img {
  height: 1.6rem;
}
.bottom .tx,
.bottom .pt {
  width: 36.8%;
  color: #fff;
}
.bottom .tx {
  background: #008f7c;
}
.bottom .pt {
  background: #f18738;
}
.bottom .home {
  width: 26.4%;
  border-top: solid 1px #d8d8d8;
}
.detailed {
  position: relative;
  top: -1.1rem;
  padding: 1.5rem 1.5rem 0.9rem;
  background: #f5f9fa;
  border-radius: 0.8rem 0.8rem 0 0;
}
.detailed h5 {
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.9rem;
}
.detailed h5 img {
  width: 1.35rem;
  margin-right: 0.3rem;
  vertical-align: text-top;
}
.detailed p {
  padding-bottom: 1.25rem;
  font-size: 1rem;
  line-height: 1.75rem;
  text-align: justify;
}
.detailed .more {
  position: absolute;
  bottom: 2rem;
  right: 1.8rem;
  display: inline-block;
  padding-left: 10rem;
  width: 1.2rem;
  height: 1.75rem;
  background-image: linear-gradient(
    to right,
    rgba(245, 249, 250, 0),
    rgba(245, 249, 250, 0.8),
    rgb(245, 249, 250)
  );
}
.detailed .more .ro {
  vertical-align: baseline;
  height: 0.6rem;
  transition: ease-in 0.4s;
}
.detailed .more.ellipsis {
  bottom: 0.5rem;
}
.detailed .more.ellipsis .ro {
  transform: rotate(180deg);
  transition: ease-in 0.4s;
}

.list .hd {
  display: none;
}

.list .bd li {
  overflow: hidden;
  padding: 1.5rem 0.9rem 1.2rem 0.6rem;
  border-top: 1px dotted #00927f;
}

.list .bd img {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.list .bd .z-c {
  float: right;
  width: 80%;
}

.list .bd .z-c h5 {
  font-size: 1.05rem;
  font-weight: normal;
}

.list .bd .z-c h5 span {
  font-size: 1.4rem;
  color: #00927f;
}

.list .bd .z-c p {
  width: 81.5%;
  margin-top: 0.3rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: justify;
}

.list .bd .yybtn {
  float: right;
  display: block;
  margin-top: 1.2rem;
  padding: 0 0.3rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #00927f;
  color: #fff;
  border-radius: 4px;
  font-size: 0.8rem;
}

.el-message {
  min-width: 60%;
}
